<!doctype html>
<html>
  <head>
    <title>About <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=appName%></h1>
    <p>We are an app to track the weather and time of the Cities you have previously visited!</p>
  </body>
</html>