<!doctype html>
<html>
  <head>
    <title><%=appName%> Shop</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>To add a book to <%=appName%></h1>
    <h2>Here is how to add a City</h2>
    <form method="POST" action="/countryadded">
        City<input id="city" type="text" name="city" value="city" /> 
        Country<input id="country" type="text" name="country" value="country" /> 
        <input type="submit" value="OK" />
        </form>
  </body>
</html>