<!doctype html>
<html>
  <head>
    <title>Welcome to <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to <%=appName%></h1>
    <p><a href="about">About <%=appName%></a></p>
    <p><a href="search">Search for Countries</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="list">List of Cities saved</a></p>
    <p><a href="addcountry">How to add a Country</a></p>
    <p><a href="weather">Weathers in the database saved</a></p>
    <p><a href="login">Logging in</a></p>
    <p><a href="logout">Log out</a></p>


  </body>
</html>
