<!doctype html>
<html>
  <head>
    <title>Welcome to <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to <%=appName%></h1>
    <p><a href="about">About <%=appName%></a></p>
    <p><a href="search">Search for Countries</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="listeners">List of logins</a></p>
    <p><a href="addbook">How to add a book</a></p>
    <p><a href="login">Logging in</a></p>
    <p><a href="logout">Log out</a></p>
  </body>
</html>
