<!doctype html>
<html>
  <head>
    <title><%=shopName%> Shop</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <h2>These are the books we sell!</h2>
    <ul>
        <% for(let i = 0; i < availableBooks.length; i++) { %>
            <li><%= availableBooks[i].name%> , £<%= availableBooks[i].price%> </li>
            <% } %>
        </ul>
  </body>
</html>